<header>
  <img class="new-post" src="/uploads/images/new_post-icon.svg" alt="icon" />
  <h1>HolidayRestaurants.com</h1>
  <img class="user-icon" src="/uploads/images/user-icon.svg" alt="user" />
</header>