<header>
  <img
    class="icon-new-post"
    src="/uploads/images/new_post-icon.svg"
    alt="icon"
  />
  <h1>HolidayRestaurants.com</h1>
  <img class="icon-user" src="/uploads/images/user-icon.png" alt="user" />
</header>