<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HolidayRestaurants</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/x-icon" href="/uploads/images/muetze.png">
  </head>
  <body>
    {{{body}}}
</html>