<header>
  <a href="/newpost"><img
      class="icon-new-post"
      src="/uploads/images/new_post-icon.svg"
      alt="icon"
    />
  </a>
  <a href="https://y52lz4-3010.csb.app/"><h1>Datenschutz</h1></a>
  <a href="/login"><img
      class="icon-user"
      src="/uploads/images/user-icon.png"
      alt="user"
    /></a>
</header>
<div class="datenschutz-container">
  <div class="datenschutz-content">
    <h2>1. Verantwortlicher</h2>
    <p>
      Wasenstrasse 5<br />
      2502 Biel<br />
      Schweiz<br />
      <a
        href="https://www.google.com/maps/place/BBZ-CFP+Biel-Bienne/@47.1452116,7.2544466,15z/data=!4m6!3m5!1s0x478e1eb434c81f65:0xe2aa9bdcfe3db669!8m2!3d47.1452116!4d7.2544466!16s%2Fg%2F11vk8tqbk?entry=ttu&g_ep=EgoyMDI0MTIwNC4wIKXMDSoASAFQAw%3D%3D"
        target="_blank"
      >Google Maps</a><br />
      <a href="tel:+41123456789">+41 12 345 67 89</a><br />
      <a href="mailto:info@holidayrestaurants.ch">info@holidayrestaurants.ch</a>
    </p>
    <hr />

    <h2>2. Erhebung und Verarbeitung personenbezogener Daten</h2>
    <p>
      Wir verarbeiten personenbezogene Daten nur, soweit dies zur Bereitstellung
      unserer Dienstleistungen erforderlich ist. Dazu gehören:
    </p>
    <ul>
      <li>
        Daten, die Sie uns freiwillig übermitteln, z. B. über unser
        Kontaktformular oder per E-Mail. Dies können Name, E-Mail-Adresse,
        Telefonnummer und weitere freiwillige Angaben sein.
      </li>
    </ul>
    <hr />

    <h2>3. Verwendung Ihrer Daten</h2>
    <p>Wir verwenden Ihre Daten für folgende Zwecke:</p>
    <ul>
      <li>Zur Beantwortung von Anfragen und Kommunikation mit Ihnen</li>
      <li>Zur Bereitstellung und Optimierung unserer Website</li>
      <li>
        Für rechtliche Verpflichtungen und zur Sicherstellung der
        Datensicherheit
      </li>
    </ul>
    <hr />

    <h2>4. Weitergabe von Daten an Dritte</h2>
    <p>Wir geben Ihre Daten nicht an Dritte weiter, es sei denn:</p>
    <ul>
      <li>Es ist gesetzlich vorgeschrieben.</li>
      <li>
        Es ist zur Vertragserfüllung erforderlich (z. B. bei
        Zahlungsdienstleistern).
      </li>
      <li>Sie haben ausdrücklich eingewilligt.</li>
    </ul>
    <p>
      Dienstleister, die in unserem Auftrag handeln, werden vertraglich
      verpflichtet, die Datenschutzbestimmungen einzuhalten.
    </p>
    <hr>
    <h2>5. Ihre Rechte</h2>
    <p>Sie haben nach dem Schweizer Datenschutzgesetz folgende Rechte:</p>
    <ul>
      <li>
        Auskunftsrecht:
        Sie können Auskunft über die von uns gespeicherten Daten verlangen.
      </li>
      <li>
        Berichtigungsrecht: Sie können die Berichtigung unrichtiger oder
        unvollständiger Daten verlangen.
      </li>
      <li>
        Löschungsrecht: Sie haben das Recht, die Löschung Ihrer Daten zu
        verlangen, sofern keine gesetzlichen Aufbewahrungspflichten
        entgegenstehen.
      </li>
      <li>
        Recht auf Einschränkung:
        Sie können die Verarbeitung Ihrer Daten einschränken lassen.
      </li>
      <li>
        Widerspruchsrecht:
        Sie können der Verarbeitung Ihrer Daten widersprechen.
      </li>
    </ul>
    <p>
      Um Ihre Rechte auszuüben, kontaktieren Sie uns bitte unter den oben
      angegebenen Kontaktdaten.
    </p>
    <hr />
    <h2>6. Datensicherheit</h2>
    <p>
      Wir setzen technische und organisatorische Massnahmen ein, um Ihre Daten
      vor unbefugtem Zugriff, Verlust oder Missbrauch zu schützen. Unsere
      Sicherheitsmassnahmen werden regelmässig überprüft und angepasst.
    </p>
    <hr>
    <h2>7. Änderungen der Datenschutzerklärung</h2>
    <p>
      Wir behalten uns das Recht vor, diese Datenschutzerklärung bei Bedarf
      anzupassen. Die aktuelle Version ist jederzeit auf unserer Website
      verfügbar.
    </p>
  </div>
</div>
{{>footer}}