{{>header}}
<div class="startseite">

    {{#posts}}

<section class="home-restaurant-grid">
    <container class="restaurant-grid">
        <p class="title-restaurant">{{name}}</p>
    </container>
</section>
{{/posts}}
