{{>header}}
<div class="body">


<section class="home-restaurant-grid">
    {{#posts}}
    <a href="/post/{{id}}">
    <container class="restaurant-grid">
        <h2 class="title-restaurant">{{name}}</h2>
        <img src="/uploads/images/IMG_0899.JPEG" width="100%" height="auto" alt="bildessen" class="bild-post">
    </container>
    {{/posts}}
</section>
</a>
</div>