<header>
    <a href="/newpost"><img
        class="icon-new-post"
        src="/uploads/images/new_post-icon.svg"
        alt="icon"
      />
    </a>
    <a href="https://y52lz4-3010.csb.app/"><h1>Post erstellen</h1></a>
    <a href="/login"><img
        class="icon-user"
        src="/uploads/images/user-icon.png"
        alt="user"
      /></a>
  </header>



<div class="body">
    <form action="/createpost" method="post" enctype="multipart/form-data">
    <div class="form-container">
        <!-- Linke Spalte: Bild-Upload -->
        <div class="left-column">
            <label for="bild"><img src="/uploads/images/new_post-icon.svg" width="30px" height="30px"></label>
            <input type="file" id="bild" name="bild" accept="image/*" required>
        </div>

        <!-- Rechte Spalte: Rest des Formulars -->
        <div class="right-column">
            <!-- Kurzer Text -->
            <label for="name"></label>
            <input type="text" id="name" name="name" required placeholder="Name">
            <br><br>

            <!-- Langer Text -->
            <label for="langerText"></label>
            <textarea id="langerText" name="beschreibung" rows="4" cols="50" required placeholder="Beschreibung max. 500 Zeichen"></textarea>
            <br><br>

            <!-- Link -->
            <label for="link"></label>
            <input type="url" id="link" name="link" placeholder="https://www.beispiel.com" required>
            <br><br>

            <!-- Google Maps -->
            <label for="map"></label>
            <input type="text" id="map" name="ort" placeholder="Ort">
            
            <br><br>

            <!-- Absenden Button -->
            <button type="submit">Absenden</button>
        </div>
    </div>
</form>
</div>
{{>footer}}
