{{>header}}



<div class="body">
    <div class="form-container">
        <!-- Linke Spalte: Bild-Upload -->
        <div class="left-column">
            <label for="bild"><img src="/uploads/images/new_post-icon.svg" width="30px" height="30px"></label>
            <input type="file" id="bild" name="bild" accept="image/*" required>
        </div>

        <!-- Rechte Spalte: Rest des Formulars -->
        <div class="right-column">
            <!-- Kurzer Text -->
            <label for="name"></label>
            <input type="text" id="name" name="name" required placeholder="Name">
            <br><br>

            <!-- Langer Text -->
            <label for="langerText"></label>
            <textarea id="langerText" name="langerText" rows="4" cols="50" required placeholder="Beschreibung max. 500 Zeichen"></textarea>
            <br><br>

            <!-- Link -->
            <label for="link"></label>
            <input type="url" id="link" name="link" placeholder="https://www.beispiel.com" required>
            <br><br>

            <!-- Google Maps -->
            <label for="map"></label>
            <input type="text" id="map" name="map" placeholder="Ort">
            <br><br>

            <!-- Dropdown-Menü -->
            <label for="optionen"></label>
            <select id="optionen" name="optionen" required>
                <option value="" disabled selected>Art des Restaurants</option>
                <option value="Option1">Italienisch</option>
                <option value="Option2">Türkisch</option>
                <option value="Option3">Mexikanisch</option>
                <option value="Option4">Café</option>
                <option value="Option5">Spanisch</option>
                <option value="Option6">Deutsch</option>
                <option value="Option7">Schweizer Küche</option>
                <option value="Option8">Französisch</option>
                <option value="Option9">Burger</option>
            </select>
            <br><br>

            <!-- Absenden Button -->
            <button type="submit">Absenden</button>
        </div>
    </div>
</div>
{{>footer}}
