{{>header}}
<section class="single-post">
{{#posts}}
<img src="/uploads/images/IMG_0899.JPEG" width="100%%" height="auto" alt="bildessen" class="bild-post">
<div class="information-single-post">
  <h1 class="name-post">{{name}}</h1>
  <p class="beschreibung-post">{{beschreibung}}</p>
  <p class="link-post">{{link}}</p>
  <p class="ort-post">{{ort}}</p>
</div>

{{/posts}}
</section>