<header>
  <a href="/newpost"><img
      class="icon-new-post"
      src="/uploads/images/new_post-icon.svg"
      alt="icon"
    />
  </a>
  <a href="https://y52lz4-3010.csb.app/"><h1>Registrieren</h1></a>
  <a href="/login"><img
      class="icon-user"
      src="/uploads/images/user-icon.png"
      alt="user"
    /></a>
</header>
<div class="container-login-form">
  <div class="login-form">
    <form action="/register" method="POST">
      <input name="email" type="text" placeholder="E-Mail" /><br />
      <input name="vorname" type="text" placeholder="Vorname" /><br />
      <input name="nachname" type="text" placeholder="Nachname" /><br />
      <input name="passwort" type="password" placeholder="Passwort" /><br />
      <input type="submit" value="Registrieren" />
    </form>
    <button><a href="https://y52lz4-3010.csb.app/login">Schon ein Konto? Jetzt
        anmelden</a></button>
  </div>
</div>