* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

:root {
  --primay-color: #68d0e7;
  --text-color: #000800;
}

header {
  background-color: var(--primay-color);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.body {
  margin: 30px;
}

.icon-new-post {
  width: 30px;
  height: 30px;
}

.icon-user {
  width: 30px;
  height: 30px;
}

.home-restaurant-grid {
  margin: 0 30px 30px 30px;
  display: grid;
  grid-template-columns: 30% 30%;
  justify-content: center;
  gap: 5% 15%;
}

.restaurant-grid {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.title-restaurant {
  padding: 10px;
  margin-bottom: 20px;
  border-color: #68d0e7;
  border-radius: 20px;
  border-style: solid;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

.single-post {
  margin: 30px;
  display: grid;
  grid-template-columns: 30% 30%;
  justify-content: center;
  gap: 5% 15%;
}

.name-post {
  padding: 10px;
  margin-bottom: 20px;
  border-color: #68d0e7;
  border-radius: 20px;
  border-style: solid;
  display: flex;
  justify-content: center;
}
.beschreibung-post {
  padding: 10px;
  margin-bottom: 20px;
  border-color: #68d0e7;
  border-radius: 20px;
  border-style: solid;
  display: flex;
  justify-content: center;
}
.link-post {
  padding: 10px;
  margin-bottom: 20px;
  border-color: #68d0e7;
  border-radius: 20px;
  border-style: solid;
  display: flex;
  justify-content: center;
}
.ort-post {
  padding: 10px;
  margin-bottom: 20px;
  border-color: #68d0e7;
  border-radius: 20px;
  border-style: solid;
  display: flex;
  justify-content: center;
}
.bild-post {
  border-radius: 20px;
}

/* Container für die zweispaltige Struktur */
.form-container {
  margin: 30px;
  display: grid;
  grid-template-columns: 30% 30%;
  justify-content: center;
  gap: 5% 15%; /* Abstand zwischen den Spalten */
}

input,
textarea,
select,
button {
  padding: 10px;
  width: 100%;
  border-color: #68d0e7;
  border-radius: 20px;
  border-style: solid;
  margin-top: 5px;
  background-color: white;
}

input::placeholder,
textarea::placeholder,
select::placeholder,
button::placeholder {
  color: #000000;
}
input[type="file"] {
  display: none;
}

.left-column {
  height: 300px;
  width: 100%;
  background-color: #68d0e7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: solid #68d0e7;
}

button {
  background-color: #68d0e7;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}
